.animated-gradient {
  background: linear-gradient(-45deg, #7e22ce, #2563eb, #9333ea, #3b82f6);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientWave 8s ease infinite;
}

@keyframes gradientWave {
  0% {
    background-position: 30% 30%;
  }
  50% {
    background-position: 80% 30%;
  }
  70% {
    background-position: 0% 50%;
  }
}